<!--
/*
 * lbar_nli.html
 *
 * scipnet - SCP Hosting Platform
 * Copyright (C) 2019 not_a_seagull
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
-->
<script>
document.onload =  function() {
  var slug = '?new_url=' + get_slug();
  document.getElementById("login_button").href += slug;
};
</script>
<p><a id="login_button" href="/sys/login">Log In</a> | <a id="register_button" href="/sys/register">Create Account</a></p>
