<!DOCTYPE html>
<html>
<!--
/*
 * template.html
 *
 * scipnet - SCP Hosting Platform
 * Copyright (C) 2019 not_a_seagull
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */
-->

<!-- meta information -->

<head>
    <title>{{ meta_title }}SCP Wiki</title>
    <meta charset="UTF-8">
    <style type="text/css">
        /*@import "localhost:8000/special/css";*/
        /*@import url("special/font-bauhaus.css");*/
        
        @font-face {
            font-family: BauhausLTDemi;
            src: url('/sys/fonts/itc-bauhaus-lt-demi.ttf');
        }
        
        body {
          background-color: #fff;
          background: url(/sys/images/background.png) top left repeat-x;
          font-size: 0.80em;
          color: #333;
          font-family: verdana,arial,helvetica,sans-serif;
          font-size: 0.82em;
        }
        
        h1, h2, h3, h4, h5, h6 {
          font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
        }
        
        .strikethrough {
          text-decoration: line-through;
        }
        
        .top-header {
          height: 140px;
          position: relative;
          z-index: 10;
          padding-bottom: 22px;
          background: url(http://www.scp-wiki.net/local--files/component:theme/logo.png) 10px 32px no-repeat;
          max-width: 980px;
          width: 90%;
          margin: 0 auto;
        }
        
        .top-header a {
          
        }
        
        .vanished {
          display: none;
        }
        
        .page-error {
          color: red;
          border: 1px solid red;
        }
        
        .user-content-container {
          position: relative;
          margin: 2em auto 0;
          max-width: 1040px;
          height: auto !important;
          height: 1300px;  
          padding: 1em;
        }
        
        .scp-logo-text {
          display: block;
          margin: 0;
          margin-left: 120px;
          padding: 70px 0 25px;
          line-height: 0px;
          max-height: 0px;
          color: #eee;
          background: transparent;
          font-family: 'BauhausLTDemi', 'Nanum Gothic', Arial, sans-serif;
          font-size: 330%;
          font-weight: bold;
          text-decoration: none;
          text-shadow: 3px 3px 5px #000;
          letter-spacing: 0.9px; 
        }
        
        .scp-logo-subtext {
          margin: 0;
          margin-left: 120px;
          padding: 12px 0;
          clear: left;
          float: left;
          font-size: 105%;
          max-height: 38px;
          display: block;
          line-height: 0px;
          max-height: 0px;
          font-weight: bold;
          color: #f0f0c0;
          text-shadow: 1px 1px 1px #000;
          text-shadow: 1px 1px 1px rgba(0,0,0,.8);
          letter-spacing: 0.9px;
        }
        
        .main-body {
          position: relative;
          margin: 2em auto 0;
          max-width: 1040px;
          min-height: 1300px;
          height: auto !important;
          height: 1500px;
        }
        
        #side-bar {
          clear: none;
          float: none;
          position: absolute;
          top: 0.5em;
          left: 2em;
          width: 17em;
          padding: 0;
          border: none;
          display: block;
        }
        
        #side-bar a:visited {
          color: #824;
        }
        
        #side-bar .side-block {
          padding: 10px;
          border: 1px solid #660000;
          border-radius: 10px;
          box-shadow: 0 2px 6px rgba(102,0,0,.5);
          background: #fff;
          margin-bottom: 15px;
        }
        
        .user-content {
          margin: 0 2em 0 22em;
          padding: 1em;
          position: relative;
        }
        
        #top-bar {
          position: absolute;
          z-index: 50;
          top: 123px;
          height: 21px;
          line-height: 18px;
          padding: 0;
          z-index: 20;
          font-size: 90%;
          width: 100%;
          margin: 0 auto;
          max-width: 980px;
          color: #fff;
          right: 1em;
          bottom: 0px;
        }
        
        #top-bar p {
          float: right;
          padding: 0 10px;
        }
        
        h1, .page-title {
          color: #901;
          padding: 0 0 0.25em;
          margin: 0 0 0.6em;
          font-weight: normal;
          font-size: 200%;
        }
        
        .page-title {
          border-bottom: 1px solid #666;
          border-bottom-color: rgb(102, 102, 102);
        }
        
        blockquote {
          border: 1px dashed #999;
          padding: 0 1em;
          background-color: #f4f4f4;
        }
        
        .alignment {
          display: inline;
          margin: 0 auto;
        }
        
        .left-align {
          text-align: left;
        }
        
        .center-align {
          text-align: center;
        }
        
        .right-align {
          text-align: right;
        }
        
        #login-bar {
          position: absolute;
          top: 10px;
          right: 10px;
          overflow: visible;
          color: #ddd;
          font-size: 90%;
          z-index: 30;
        }
        
        #login-bar a {
          color: #ddd;
        }
        
        a {
          color: #b01;
          text-decoration: none;
          background: transparent;
        }
        
        a:hover {
          text-decoration: underline;
        }
        
        a:visited {
          color: #824;
        }
        
        #utility-links {
          margin: 10px;
          text-align: right;
          height: 1%;
          line-height: 150%;
	  {{ ul_vanishing }}
        }
        
        #utility-links a {
          margin: 2px 2px;
          font-size: 95%;
          padding: 0 8px;
        }
    </style>
    <script type="text/javascript" src="/sys/js/get_param.js"></script>
    <script type="text/javascript" src="/sys/js/messagebox.js"></script>
    <script type="text/javascript" src="/sys/js/cookie.js"></script>
    <script type="text/javascript" src="/sys/js/pagereq.js"></script>
    <script type="text/javascript" src="/sys/js/page_utils.js"></script>
</head>

<body>
    <div class="top-header">
        <h1 class="scp-logo-text"><a style="color: #eee; text-decoration: initial;" href="/">SCP Foundation</a></h1>
        <h2 class="scp-logo-subtext">Secure, Contant, Protect</h2>
        <div id="top-bar">
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
            <p>Hello!</p>
        </div>
        <div id="login-bar">
            {{ login_bar }}
        </div>
    </div>
    <div class="main-body">
        <div id="side-bar">
            <div class="side-block">
                <p>Test</p>
            </div>
        </div>
        <div class="user-content-container">
            <div class="user-content">
                <div class="page-title">{{ title }}</div>
                <div class="generated-markdown">
                    {{ ftml_content }}
                </div>
                <div id="utility-links">
                    <!-- begin utility block -->
                    <a onclick="editpage()">Edit</a>&nbsp;
                    <a onclick="showrater()">Rate ({{ page_rating }})</a>&nbsp;
                    <a>Tags</a>&nbsp;
                    <a>Discuss</a>&nbsp;
                    <a onclick="pagehistory()">History</a>&nbsp;
                    <a>Files</a>&nbsp;
                    <a>Page Source</a>&nbsp;
                    <a id="options_link">+ Options</a>
                </div>
                <div id="utility-block">
                    <div id="editor" class="vanished">
                        <h1>Edit Page</h1>
                        <form>
                            <p>
                                <!-- table for titlebox -->
                                <table style="width: 100%">
                                    <tr>
                                        <td style="width: 30%">
                                            <p>Page Title:</p>
                                        </td>
                                        <td style="width: 60%">
                                            <input id="titlebox" style="width: 100%; text-align: left;" name="titlebox" /><br />
                                        </td>
                                    </tr>
                                </table>
                            </p>
                            <p>
                                <textarea name="srcbox" id="srcbox" style="width: 95%; height: 400px;" cols="50" rows="10"></textarea><br />
                            </p>
                            <div id="edit-buttons">
                                <input type="button" id="cancel_button" name="cancel" value="Cancel" onclick="canceleditpage();" />
                                <input type="button" id="sac_button" name="sac" value="Save and Continue" onclick="savepage(false);" />
                                <input type="button" id="save_button" name="save" value="Save" onclick="savepage(true);" />
                            </div>
                        </form>
                    </div>
                    <div id="rater" class="vanished">
			<h1>Rate this Page</h1>
                        <div id="utils_rating_module">
                            <!-- rating module will be generated here -->
                        </div>
                    </div>
                    <div id="tags" class="vanished">
                    </div>
                    <div id="revisions" class="vanished">
                        <h1>History</h1>
			<div id="history-table">
                        </div>
                    </div>
                    <div id="pagesrc" class="vanished">
                    </div>
                </div>
                <!-- end utility block -->
            </div>
        </div>
    </div>
</body>

</html>
